body {
  display: grid;
  grid-template-columns: 335px 75.2%;
  grid-template-areas: "lists video"
                       "lists options"
                       "lists more";
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #151b31;
}
.lists {
  display: grid;
  position: fixed;
  width: 300px;
  grid-template-rows: 120px 
                      60% 
                      40%;
  grid-template-areas: "title"
                       "my-playlist"
                       "friends-playlists";
  background: #151b31;
  color: white;
  font-weight: 300;
}
.more {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas: "comments suggestions";
}
.lists h3 {
  font-weight: 300;
}
.title {
  color: white;
  font-family: 'ABeeZee', sans-serif;
  font-size: 40px;
  margin-left: 0px;
  margin-bottom: 0;
  margin-top: 30px;
}
.title strong {
  background: linear-gradient(to right, #ff0011, #ff4c9f);
  -webkit-background-clip: text;
  color: transparent;
}
.lists {
  grid-area: lists;
  /* border: blue solid 1px; */
  height: 100vh;
  padding-right: 20px;
  padding-left: 15px;

  /* left: -100vw; */
  /* display: none; */
}
.lists .title {
  grid-area: title;
  /* border: red solid 1px; */
}
.my-playlist {
  grid-area: my-playlist;
  /* border: red solid 1px; */
  margin-top: -35px;
}
.lists h3 {
  padding: 0px;
}
.point {
  padding: 0px;
}

/* ///////////////////////////////////////////////////////////////// */
ol li {
  counter-increment: my-awesome-counter;
  /* Esto es para que los números que vienen por defecto se oculten */
  /* Falta probar si en otra lista al cambiarle el display vuelven los número por defecto sin afectar al actual */
  display: flex;
  left: 1px;
  margin-bottom: 20px;
}
.my-playlist ol li::before {
  content: counter(my-awesome-counter);
  margin-right: 0.5rem;
}
.one-number {
  /* Esta identación solo funciona para la primera línea del párrafo */
  /* text-indent: 10px; */
  margin-left: 10px;
}
/* //////////////////////////////////////////////////////////////// */

.friends-playlists {
  grid-area: friends-playlists;
  font-weight: 300;
  /* border: red solid 1px; */
  margin-top: -130px;
}
.friends-playlists h3 {
  margin-bottom: 0; 
}
.friends-playlists ol {
  padding: 0;
  margin: 0;
}
.friends-playlists li {
  margin: 0;
  margin-top: 10px;
}
.friends-playlists figure {
  margin: 7px 20px 0 0;
}

.video-title,
.options,
.more,
.comments,
.suggestions {
  background-color: white;
  z-index: 1;
}

.header {
  display: none;
}

.video {
  grid-area: video;
  position: fixed;
  left: 335px;
  right: 0;
  /* border: blue solid 1px; */
  height: 60vh;
}
.video iframe {
  width: 100%;
  height: 100%;
}
.video-title {
  grid-area: options;
  /* border: blue solid 1px; */
  margin-top: 60vh;
  padding-left: 15px;
  z-index: 2;
  box-shadow: 1px 2px 5px #a1a1a1;
}
.video-title h3 {
  font-size: 20px;
  font-weight: 500;
  color: #151b31;
  margin-bottom: 0;
}
.video-title p {
  color: #868686;
  margin-top: 0;
  font-size: 1.2em;
}
.more {
  grid-area: more;
  /* border: blue solid 1px; */
  height: 20vh;
}
.photo {
  height: 100%;
}

#add-to-my-list {
  border: 0;
  color: white;
  background: linear-gradient(to right, #ff0011, #ff4c9f);
  height: 2.1em;
  width: 9.5em;
  border-radius: 14px;
  font-size: 1em;
}

#electronic, 
#rock,
#rock,
#ochenta,
#rela {
  border: 0;
  color: white;
  height: 27px;
  width: 80px;
  border-radius: 50px;
  margin-right: 10px;
}
#electronic {
  background-color: #a262cc;
}
#rock {
  background-color: #3fe0b0;
}
#ochenta {
  background-color: #c90b0b;
}
#rela {
  background-color: #e42283;
}

.comments {
  grid-area: comments;
  /* border: green solid 1px; */
}
.comments h3 {
  margin-left: 42px;
  font-weight: 500;
}
.user {
  height: 45px;
  width: 45px;
  overflow: hidden;
  border-radius: 50%;
}
/* Para redondear la imagen, la etiqueta img tiene que tener un tamaño absoluto */
.user img {
  height: 45px;
  width: 45px;
}
.user.mine {
  margin: 5px 15px;
  height: 35px;
  width: 35px;
}
.user input {
  width: 100%;
}
#my-comment {
  background-color: #f3f3f3;
  border-radius: 10px;
  border-bottom: 3px solid #d3d3d3;
  width: 570px;
}
#my-comment input {
  background-color: transparent;
  border: 0px;
  font-size: 20px;
  width: 100%;
}

.other {
  display: grid;
  grid-template-columns: 63px;
  grid-template-rows: 30px
                      30px;
  grid-template-areas: "user name"
                       "user comment-user";
}
.user {
  grid-area: user;
  margin: 0;
  align-self: center;
  justify-self: center;
}
.name {
  grid-area: name;
  align-self: end;
}
.comment-user {
  grid-area: comment-user;
  align-self: center;
}

.options {
  display: flex;
}
.options figure {
  margin: 0;
  margin-left: 35px;
}
.options div {
  display: flex;
}
#save {
  margin-right: 2em;
}
.options figure p {
  color: #151b31;
  font-size: 1em;
}
.options figure span {
  color: #151b31;
  display: grid;
  justify-content: center;
}

.suggestions {
  grid-area: suggestions;
  /* border: green solid 1px; */
  display: grid;
  grid-template-rows: 60px;
}
.suggestions figure img {
  height: 100%;
  width: 100%;
}
.suggestions figure {
  height: 150px;
  width: 230px;
  margin-left: 17px;
  margin-right: 0;
}
#first-image {
  margin-top: 0;
}
.suggestions p {
  margin-top: 0;
}
.suggestions h3 {
  font-weight: 500;
  margin-left: 30px;
}
@media screen and (max-height: 1081px) {
  .eighth,
  .ninth,
  .tenth {
    display: none;
  }
}
@media screen and (max-height: 721px) {
  .sixth,
  .seventh{
    display: none;
  }
  .my-playlist {
    height: 60%;
  }
  .fourth-friend {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  body {
    grid-template-columns: 100vw;
    grid-template-areas: "header"
                         "video"
                         "options"
                         "more";
  }
  .header div .title {
    margin-left: -60px;
  }
  .header {
    display: grid;
    grid-template-columns: 50px 90%;
  }
  .header div {
    display: flex;
    justify-content: center;
  }
  .header i {
    /* border: red 1px solid  ; */
    color: white;
    justify-self: end;
    align-self: center;
    font-size: 22px;
  }
  .lists {
    left: -1000vw;
    z-index: 3;
    transition: .3s;
  }
  .lists.is-active {
    left: 0;
  }
  .fifth {
    display: none;
  }
  .more {
    grid-template-columns: 68% 32%;
  }
  .header {
    grid-area: header;
    display: grid;
    position: fixed;
    width: 100%;
    background-color: #151b31;
  }
  .header .title {
    margin-top: 15px;
    height: 69px;
    justify-self: center;
  }
  .video {
    left: 0;
    top: 70px;
  }
  .suggestions figure {
    height: 120px;
    width: 200px;
  }
  #my-comment {
    width: 460px;
  }
}
@media screen and (max-width: 767px) {
  .suggestions {
    display: none;
  }
  .video {
    height: 40vh;
  }
  .video-title {
    margin-top: 40vh;
  }
  .options {
    display: block;
    margin-bottom: 20px;
  }
  .more {
    grid-template-columns: 100%;
    grid-template-areas: "comments";
  }
  #my-comment {
    width: 400px;
  }
  .comments ol {
    padding: 0 10px;
  }
  .comments h3 {
    margin-left: 22px;
  }
}